/* .carddteams:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
} */
  .pill-title{
    background-color: rgb(91, 172, 91);
    color: white;
    padding: 5px;
    border-radius: 50px;
  }

 

